*{
	margin: 0;
	padding: 0;
}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(255, 144, 14, 0.1);
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  .logo {
    width: 7rem;
    border-radius: 5px;
    margin-left: 20px;
  }
  .logo-title{
    font-size: 2em;
    font-weight: bold;
  }
  .items {
    display: flex;
    list-style: none;
  }
  .item {
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }